@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.logo-bar {
  background: #c19393;
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-size: 30px;
  font-weight: 500;
}

.logo-bar .logo-icon {
  color: #fff;
}

.schedule-box {
  min-height: 90%;
  width: 100%;
  display: flex;
}

.project-area {
  background: rgba(250, 250, 250, 0.4);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-itms-wrapper {
  width: 100%;
  padding: 0px 20px;
}

.project-head-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.project-area-header {
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
}

.header-icon {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.header-icon:hover {
  background-color: #d5d7dd;
}

.circle {
  background: #45657a;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 10px;
}

.circles-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  padding: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.circles-wrapper:hover {
  background: #d5d7dd;
}

.circle-head {
  font-weight: 100;
  flex: 1;
}

.project-notes {
  display: flex;
  flex-direction: column;
  background: #f5f7f4;
  width: 75%;
  padding: 0px 30px;
}

.proj-note-head-icon {
  display: inline-block;
}

.project-note-name-wrapper {
  padding: 20px;
}

.proj-note-head {
  padding: 20px;
  font-weight: 500;
  font-size: 25px;
}

.proj-note-head-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  font-size: 15px;
  color: rgb(92, 91, 91);
  cursor: pointer;
  border-radius: 5px;
}

.proj-note-head-icon i {
  padding: 10px;
}

.proj-note-head-icon h3 {
  padding: 10px;
  font-weight: 100;
}

.proj-note-head-icon i:hover {
  background-color: #d5d7dd;
  border-radius: 50%;
  color: rgb(236, 160, 160);
}

.project-note-input {
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.project-note-input textarea {
  padding: 10px;
  resize: none;
  width: 90%;
  height: 100px;
  border-radius: 5px;
  background: rgba(250, 250, 250, 0.4);
  border: 1px solid #ddd;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

.project-note-input textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #bebebe;
}

.project-note-input textarea:focus {
  outline: none;
}

input[type='date'] {
  display: inline-block;
  font-size: 15px;
  padding: 5px;
  width: 160px;
  font-weight: 100;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(138, 136, 136, 0.867);
  background: rgba(250, 250, 250, 0.4);
  border: 1px solid #ddd;
  margin-right: 5px;
  outline: none;
}

input[type='date']:focus {
  border: 1px solid rgba(172, 171, 171, 0.867);
}

select {
  background: rgba(250, 250, 250, 0.4);
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: 100;
  width: 160px;
}

select:focus {
  outline: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0.5;
}

.project-wrapper,
.project-note-action-btns {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-wrapper .project-type {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  display: inline-block;
  color: #555;
  font-weight: 400;
}

.project-sub-wrapper,
.action-btns {
  width: 90%;
  display: flex;
  border: 1px solid #ddd;
  border-top: none;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.action-btns {
  padding: 15px 0px;
  border: none;
}

.action-btns .addBtn,
.cancelBtn {
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  background: #47a26c;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin: 0 3px;
}

.cancelBtn {
  background: rgb(214, 125, 125);
  color: white;
}

.project-description-space {
  display: none;
}

.project-description-space.active-block {
  display: block;
}

.custproject {
  box-shadow: 3px 3px 5px #dddd, -3px -3px 5px #dddd;
  background-color: #ffffff;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  position: absolute;
  left: -40%;
  top: 40%;
  z-index: 5;
  transition: all 0.9s ease-in-out;
}

.custproject.show {
  left: 40%;
}

label {
  font-weight: 100;
  padding: 5px 0 5px 5px;
  text-align: left;
  width: 100%;
}

.project {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 5px;
  font-family: 300;
  width: 100%;
}

.project:focus {
  outline: none;
}

.proj-head {
  border-bottom: 1px solid#dddddd;
  width: 100%;
  padding: 10px 0px 10px;
  text-align: center;
}

.custproject-format {
  width: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.custproj-action {
  border-top: 1px solid #dddddd;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.add-project,
.cancel-project {
  border-radius: 8px;
  border: 0;
  padding: 5px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}

.cancel-project {
  background-color: #b95b5e;
  color: #fff;
}

.del-button::after {
  padding: 5px;
  font-family: 'Font Awesome 5 Free';
  color: 300;
  content: '\f2ed';
  color: rgb(170, 165, 165);
  opacity: 0;
  text-align: right;
  flex: 1;
}

.del-button:hover::after {
  opacity: 1;
}

.show-projects-section {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #dddd;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #b8b7b7dd;
  margin-bottom: 20px;
}

.show-projects-section .projectLabel {
  font-weight: 300;
  font-size: 18px;
}

.show-projects-section .projectCheckBox {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 0.5px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in;
}

.projectCheckBox:checked {
  background: #829997;
}

.todo-note {
  padding: 5px;
}

.show-projects-section .todo-date {
  display: flex;
  gap: 10px;
  font-weight: 100;
  padding: 10px;
  border-bottom: 1px solid rgb(206, 205, 205);
  width: 100%;
}

.show-projects-section .todo-date.show-date-icon::before {
  font-family: 'Font Awesome 5 Free';
  color: 300;
  content: '\f073';
  color: rgb(170, 165, 165);
}
